/* Your styles go here */
@import "~bootstrap/dist/css/bootstrap.min.css";

.jumbotron {
    background-image: url("../images/jumbo.jpg");
    background-position: left 75% bottom 20%;
}

#location .card:hover {
    cursor: pointer;
}

/* #popup {
    background-color: rgba(70, 70, 70, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */